absl-py==0.10.0
aiohttp==3.6.3
alembic==1.7.5
altair==4.2.0
argon2-cffi==20.1.0
arviz==0.10.0
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attr==0.3.2
attrs==23.1.0
autograd==1.4
Automat==22.10.0
autopage==0.5.1
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.zoneinfo==0.2.1
beautifulsoup4==4.9.3
bleach==3.2.1
blinker==1.5
boto==2.49.0
boto3==1.15.16
botocore==1.18.16
Bottleneck==1.3.5
branca==0.4.1
brotlipy==0.7.0
bz2file==0.98
cachetools==4.1.1
category-encoders==2.5.0
certifi==2022.6.15
cffi==1.14.3
cftime==1.2.1
chardet==3.0.4
click==7.1.2
cliff==3.10.1
cloudpickle==2.2.0
cmaes==0.8.2
cmd2==2.4.2
colorama==0.4.3
colorlog==5.0.1
commonmark==0.9.1
constantly==15.1.0
contourpy==1.0.5
convertdate==2.2.2
cryptography==41.0.3
cssselect==1.2.0
cvxpy==1.1.6
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.5.1
docutils==0.15.2
ecos==2.0.7.post1
entrypoints==0.3
ephem==3.7.7.1
et-xmlfile==1.0.1
fbprophet==0.7.1
filelock==3.12.2
folium==0.11.0
fonttools==4.37.3
future==0.18.2
gast==0.3.3
gensim==3.8.3
gitdb==4.0.9
GitPython==3.1.27
google-api-core==1.22.2
google-auth==1.22.0
google-auth-oauthlib==0.4.1
google-cloud-core==1.4.3
google-cloud-storage==1.31.2
google-crc32c==1.0.0
google-pasta==0.2.0
google-resumable-media==1.1.0
googleapis-common-protos==1.52.0
graphviz==0.20.1
grpcio==1.31.0
h2==4.1.0
h5py==2.10.0
holidays==0.10.3
hpack==4.0.0
hyperframe==6.0.1
hyperlink==21.0.0
idna==2.10
imbalanced-learn==0.7.0
importlib-metadata==2.0.0
importlib-resources==5.2.0
incremental==22.10.0
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
itemadapter==0.8.0
itemloaders==1.1.0
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.17.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab-pygments==0.1.2
jupyterthemes==0.20.0
Keras==2.4.3
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
korean-lunar-calendar==0.2.1
lesscpy==0.15.0
Lifetimes==0.11.3
lightgbm==3.3.2
llvmlite==0.39.1
LunarCalendar==0.0.9
lxml==4.6.1
lz4==3.1.3
Mako==1.1.4
Markdown==3.3.2
MarkupSafe==1.1.1
matplotlib==3.2.2
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.0
mkl-service==2.3.0
multidict==4.7.5
my-package==0.0.0
mysql==0.0.3
mysql-connector-python==8.1.0
mysqlclient==2.2.0
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.1
netCDF4==1.5.4
networkx==2.5.1
nltk==3.6.3
notebook==6.1.4
numba==0.56.2
numexpr==2.7.3
numpy==1.18.5
oauthlib==3.1.0
olefile==0.46
openpyxl==3.0.10
opt-einsum==3.3.0
optuna==3.0.1
orc==0.1.0
osqp==0.6.1
packaging==20.4
pandas==1.4.4
pandasql==0.7.3
pandocfilters==1.4.2
parsel==1.8.1
parso==0.7.0
patsy==0.5.1
pbr==5.6.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.0
pip==23.2.1
plotly==4.11.0
ply==3.11
prettytable==3.4.1
prometheus-client==0.8.0
prompt-toolkit==3.0.8
Protego==0.3.0
protobuf==4.21.12
ptyprocess==0.6.0
py4j==0.10.9
pyarrow==0.15.1
pyasn1==0.4.8
pyasn1-modules==0.2.7
pybind11==2.5.0
pycparser==2.20
pydeck==0.8.0b1
PyDispatcher==2.0.7
Pygments==2.7.1
PyMeeus==0.3.7
pymongo==3.11.0
Pympler==1.0.1
PyMySQL==1.1.0
pyOpenSSL==23.2.0
pyparsing==2.4.7
pyperclip==1.8.2
pypiwin32==223
pyreadline==2.1
pyreadline3==3.3
pyrsistent==0.17.3
PySocks==1.7.1
pyspark==3.0.0
pystan==2.19.1.1
python-dateutil==2.8.1
pytz==2020.1
pytz-deprecation-shim==0.1.0.post0
pywin32==227
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
queuelib==1.6.2
regex==2020.10.15
requests==2.24.0
requests-file==1.5.1
requests-oauthlib==1.3.0
retrying==1.3.3
rfm==1.0.9
rich==12.5.1
rsa==4.6
s3transfer==0.3.3
scikit-learn==0.23.2
scikit-surprise==1.1.1
scipy==1.7.3
Scrapy==2.10.0
scs==2.1.2
seaborn==0.11.0
semver==2.13.0
Send2Trash==1.5.0
service-identity==23.1.0
setuptools==50.3.0.post20201103
setuptools-git==1.2
shap==0.41.0
simplegeneric==0.8.1
sip==4.19.13
six==1.15.0
slicer==0.0.7
smart-open==3.0.0
smmap==5.0.0
soupsieve==2.0.1
SQLAlchemy==1.3.19
statsmodels==0.12.0
stevedore==4.0.0
streamlit==1.12.2
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
tldextract==3.4.4
toml==0.10.2
toolz==0.12.0
tornado==6.0.4
tqdm==4.50.2
traitlets==5.0.5
Twisted==22.10.0
twisted-iocpsupport==1.0.4
typing_extensions==4.3.0
tzdata==2022.2
tzlocal==4.2
urllib3==1.25.10
validators==0.20.0
w3lib==2.1.2
watchdog==2.1.9
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wheel==0.35.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.12.1
xarray==0.16.1
xgboost==1.2.1
xlrd==1.2.0
yarl==1.5.1
zipp==3.3.0
zope.interface==6.0
